body
{
	background-color: #000;
	color: #fff;
}

.container
{
	display: flex;
	height: 400px;
	background-color: #333;
	justify-content: center;
	align-items: center;
}

.item
{
	background-color: #777;
}
